body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url(../IMG/background-dep-1.jpg);

}

.container {
    padding: 200px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    margin-top: 50px;
}

.error {
    font-weight: 900;
    font-size: 100px;
    color: #ff0000;

}

.error1 {
    animation: error1 4s infinite;

}

.error2 {
    animation: error2 8s infinite;
}

.error3 {
    animation: error3 12s infinite;
}

.message {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.link {
    font-size: 18px;
    color: #0000ff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@keyframes error1 {
    0% {
        font-size: 120px;
        color: #82cc20;
    }

    25% {
        font-size: 140px;
        color: rgb(122, 122, 68);
    }

    50% {
        font-size: 160px;
        color: rgb(67, 67, 146);
    }

    75% {
        font-size: 140px;
        color: green;
    }

    100% {
        font-size: 120px;
        color: rgb(145, 73, 73);
    }
}

@keyframes error2 {
    0% {
        font-size: 120px;
        color: #82cc20;
    }

    25% {
        font-size: 140px;
        color: rgb(122, 122, 68);
    }

    50% {
        font-size: 160px;
        color: rgb(67, 67, 146);
    }

    75% {
        font-size: 140px;
        color: green;
    }

    100% {
        font-size: 120px;
        color: rgb(145, 73, 73);
    }
}

@keyframes error3 {
    0% {
        font-size: 120px;
        color: #82cc20;
    }

    25% {
        font-size: 140px;
        color: rgb(122, 122, 68);
    }

    50% {
        font-size: 160px;
        color: rgb(67, 67, 146);
    }

    75% {
        font-size: 140px;
        color: green;
    }

    100% {
        font-size: 120px;
        color: rgb(145, 73, 73);
    }
}


.star {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid yellow;
}

.star:after {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid rgb(141, 247, 54);
    position: absolute;
    width: 0;
    height: 0;
    margin: -32px 0 0 -12px;
}

@keyframes fall {
    from {
        transform: translate(0, -100vh) rotate(0deg);
    }

    to {
        transform: translate(100vw, 100vh) rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.star1 {
    left: -10%;
    top: -10%;
    animation: fall 5s linear infinite, fade 5s linear infinite;
}

.star2 {
    left: -20%;
    top: -20%;
    animation: fall 6s linear infinite, fade 6s linear infinite;
}

.star3 {
    left: -30%;
    top: -30%;
    animation: fall 7s linear infinite, fade 7s linear infinite;
}

.star4 {
    left: -40%;
    top: -40%;
    animation: fall 8s linear infinite, fade 8s linear infinite;
}

.star5 {
    left: -50%;
    top: -50%;
    animation: fall 9s linear infinite, fade 9s linear infinite;
}

.star6 {
    left: -60%;
    top: -60%;
    animation: fall 10s linear infinite, fade 10s linear infinite;
}

.star7 {
    left: -70%;
    top: -70%;
    animation: fall 3s linear infinite, fade 3s linear infinite;
}