body {
    font-family: Arial, sans-serif;
    background-color: rgb(209, 196, 184);
}

/*Menu*/
.menu ul {
    width: 250px;
    padding-left: 15px;
    margin-left: 60px;
    list-style-type: none;
    text-align: center;
}

.menu li {
    width: auto;
    height: 50px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(242, 243, 245);
    font-weight: bold;
    background-color: #333;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    border-radius: 20px;
    transition-duration: 0.5s
}

.menu li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    padding-top: 10px;
    display: block;
}

.menu li:hover {
    width: auto;
    height: 60px;
    border: none;
    background-image: linear-gradient(to right, rgb(190, 185, 108), rgb(167, 132, 56));
}

.search-dm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 80px;
    padding-left: 20px;
    width: auto;
    height: 50px;
    border-radius: 50px;
    border: none;
}

.search-dm:hover {
    width: auto;
    height: 80px;
    transition-duration: 1.2s;
}

.btn-dm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;

}

.btn-dm:hover {
    color: #e8e8e8;
    width: 100px;
    height: 60px;
    background-image: linear-gradient(to right, black, rgb(177, 40, 81));
    transition-duration: 1s;
}

/*Main*/

header {

    text-align: center;
    background-color: #7c999c56;
    border-radius: 10px;

}

.h1 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

.img-1 {
    padding-top: 30px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.user_div {
    display: flex;
    width: auto;
    margin-left: 86%;
}

.user_img {
    width: 50px;
    height: 50px;
}

.name_user {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-left: 10px;

}

.linkname {
    text-decoration: none;
}

.linkname:hover {
    font-weight: bold;
    color: rgb(42, 126, 101);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.book {
    width: 250px;
    height: 490px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(101, 124, 117);
    box-shadow: 5px 5px 10px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.book img {
    width: 240px;
    height: 260px;
    border-radius: 10px;
}

.book button {
    width: 100%;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.book:hover {
    border: none;
    background-color: rgb(87, 231, 188);
    width: 290px;
    height: 500px;
    margin: 30px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.8s;
}

.btn-1,
.btn-2,
.btn-3 {
    height: 50px;
    border-radius: 20px;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
    border: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.527), rgba(41, 99, 41, 0.397), rgba(255, 255, 255, 0.507));
}

#cart {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgba(52, 97, 97, 0.555);
    color: #e8e8e8;
    padding: 10px;
    overflow: hidden;
}

#cart:hover {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 350px;
    border: none;
    padding: 10px;
    overflow-y: scroll;
    transition-duration: 1.2s;
}

#cart h2 {
    text-align: center;
}

#cart ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cart li {
    margin: 20px;
}

#notification {
    position: fixed;
    top: 10px;
    right: 100px;
    width: 300px;
    height: 90px;
    background-color: rgba(151, 218, 74, 0.904);
    border-bottom: 8px solid black;
    border-radius: 10px;
    opacity: 0.8;
}

#notification-message {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}


#notification2 {
    position: fixed;
    top: 10px;
    right: 100px;
    width: 300px;
    height: 90px;
    background-color: rgba(218, 103, 74, 0.904);
    border-bottom: 8px solid black;
    border-radius: 10px;
    opacity: 0.8;
}

#notification-message2 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

#notification3 {
    position: fixed;
    top: 10px;
    right: 100px;
    width: 300px;
    height: 90px;
    background-color: rgba(218, 184, 74, 0.904);
    border-bottom: 8px solid black;
    border-radius: 10px;
    opacity: 0.8;
}

#notification-message3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

.hidden {
    display: none;
}

/*Footer*/

.thanhtoan_ch {
    font-size: 30px;
    text-align: right;
    margin: 70px;
    background-color: #e8e8e856;
    padding: 10px;
    border-radius: 20px;
}

.pay-1 {
    position: relative;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: green;
}

.clear_1 {
    position: relative;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(120, 138, 54);
}

.pay-1:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.548), rgb(167, 81, 103), rgba(255, 255, 255, 0.541));
}

.clear_1:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.548), rgb(167, 81, 103), rgba(255, 255, 255, 0.541));
}

.in_user {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(252, 252, 252, 0);
    border-bottom: 3px solid black;
    padding: 8px;
    font-size: 20px;
}

.in_user:hover {
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    font-size: 20px;
    background-color: coral;
    border-bottom: 3px solid black;
    transition-duration: 0.8s;
}

.p_user {
    font-size: 20px;
}

.foot{
    padding: 40px;
}

.thontin {
    display: flex;
    flex-direction: column;
}

.tittle1{
    font-weight: bold;
}

.column-1,
.column-2,
.column-3 {
    height: auto;
    padding: 10px;
}