* {
	box-sizing: border-box;
}

body {
	margin: 30px;
}


.header {
	background-color: #FFFF99;
	height: 40px;
	text-align: left;
	border: 1px solid;
	padding: 10px;
}

.nav {
	background-color: #FFFF99;
	height: 30px;
	text-align: left;
	border: 1px solid;
	padding: 10px;
}

.section {
	background-color: #FFFF99;
	float: left;
	width: 70%;
	height: 220px;
	border: 1px solid;
	padding: 10px;
}

.article {
	background-color: #FFFFCC;
	float: left;
	width: 100%;
	height: 80px;
	border: 1px solid;
	padding: 5px;
}

.article1 {
	background-color: #FFCCCC;
	float: left;
	width: 100%;
	height: 80px;
	border: 1px solid;
	padding: 5px;
}

.aside {
	background-color: #FFFF99;
	float: left;
	width: 30%;
	padding: 5px;
	height: 220px;
	border: 1px solid;
}

.footer1 {
	background-color: #FFFF99;
	height: 30px;
	text-align: left;
	border: 1px solid;
	padding: 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
